<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
        {% if site.google_analytics %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
        <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());

         gtag('config', '{{ site.google_analytics }}');
        </script>
        {% endif %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% seo %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}

        <h2 class="join-title">Join</h2>

        <div class="join-gallery">
            {% for medium in site.data.social %}
            {% if medium.active == true %}
            <a href="{{ medium.link }}" title="{{ medium.name }}">
                <i class="fa fa-3x {{ medium.icon }}"></i>
            </a>
            {% endif %}
            {% endfor %}
        </div>

        <div style="margin-bottom: 50px;"></div>

        <h2 class="organizer-title">PLTeaM</h2>

        <ul class="organizer-gallery">
            {% for member in site.data.members %}
            {% if member.active == true %}
            <li>
                <a href="{{ member.website }}">
                    <img src="{{ member.photo }}" alt="{{ member.name }}" title="{{ member.name }}" width="85">
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>

      </header>

      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
